.pa {
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 5%);
  -webkit-tap-highlight-color: transparent;
  image-rendering: optimizeQuality;
  display: grid;
  width: 52px;
  height: 52px;
  margin: 20px;
}

.color {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  max-width: 629px;
}

.color::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

.color:hover {
  transform: scale(1);
}

.color:hover::after {
  opacity: 1;
}
.flexParent {
  display: flex;
  min-height: 300px;
  justify-content: space-evenly;
  padding: 0 2.083333333333333vw;
  @media only screen and (max-width: 699px) {
    flex-direction: column;
  }
}
.flexParent + .flexParent {
  min-height: 0 !important;
}
.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  &-skeleton {
    margin: 16px;
    > .skeleton + .skeleton {
      margin-top: 2%;
    }
  }
}
.wrapper-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.pnt {
  display: flex;
  align-items: flex-start;
}
h2.centerText {
  text-align: center;
  padding-bottom: 4.90125vw;
}
.gridParent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
