body {
  margin: 0;
  font-family: "SuisseIntl",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "SuisseIntl",
    sans-serif;
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl"),
   url("./fonts/SuisseIntl/SuisseIntl-Book-WebM.ttf") format("truetype");
  font-weight: medium;
  }
